<MarketplaceDetails>
  <SmallAppTile>StrongLiftsStoreTile.png</SmallAppTile>
  <ScreenShots>1_main.png;2_1RM.png;3_1RM2.png;3_workout.png;5_exercise.png;;;;</ScreenShots>
  <ScreenShotsWXGA>wxga_settings.png;;;;;;;;</ScreenShotsWXGA>
  <ScreenShots720P>homescreen_720.png;;;;;;;;</ScreenShots720P>
</MarketplaceDetails>